<!DOCTYPE html>
<html>
  <head>
    <title>Music for everyone - Dotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'Spotify_Icon_RGB_Black.png' %>
    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500,600,700 ,800,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width" initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
